body{
    margin: 70px 330px;
    background-color: black;
}
div{
    background-size: cover;
    background-repeat: no-repeat;
}
img{
    height: 750px;
    width: 900px;
}
@font-face {
    font-family:bloody;
    src: url(BLOODY.TTF);
}
button {  
position: absolute;
bottom: 27px;
right: 190px;
padding: 10px 20px;
background-color: #ff0000;
color: white;
border: none;
font-family: bloody;
border-radius: 5px;
font-size: 18px;
cursor: pointer;
z-index: 1;
transition: background-color 0.3s ease;
}