@font-face {
    font-family: bloody;
    src: url(BLOODY.TTF);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
    background-image: url(PikPng.com_blood-border-png_2452233.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(20, 20, 20);
}

/* Contenedor de la TV */
.tv-partes {
    position: relative;
    display: inline-block;
}

/* Estructura de la TV */
.tv {
    width: 700px;
    height: 350px;
    background: #0E0F0F;
    border: 40px solid #0E0F0F;
    border-radius: 20px;
    box-shadow: 0 0 200px rgba(2, 1, 1, 0.863);
    position: relative;
    overflow: hidden;
    animation: flicker 1s infinite;
    background-image: url('static.gif');
    background-size: cover;
}

/* Efecto de flicker */
@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.9; }
    100% { opacity: 1; }
}

/* Antena de la TV */
.antenna {
    width: 10px;
    height: 100px;
    background: #555;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* Piernas de la TV */
.legs {
    width: 10px;
    height: 100px;
    background: #222;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}

.legs::after {
    content: '';
    position: absolute;
    width: 95px;
    height: 40px;
    background: #222;
    border-radius: 35px 35px 5px 5px;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo del botón "ON" */
form input[type="button"] {
    position: absolute;
    top: 580px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 20px;
    font-family: bloody;
    background-color: #2bff00;
    color: #000;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

form input[type="button"]:hover {
    transform: scale(1.1);
    background-color: #28c400;
}
