/* Estilos generales */
body {
    margin: 0;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(postal1-loading-screen.gif);
    font-family: bloody;
    color: white;
}




/* Contenedor del juego */
.game-container {
    text-align: center;
    margin: 100px auto;
    width: 300px;
    color: white;
}

/* Contenedor de las imágenes del ahorcado */
#hangman-container {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 0 auto;
}

#base, #palo, #parte-arriba, #head, #body, #right-arm, #left-arm, #right-leg, #left-leg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#base {
    bottom: 0;
}

#palo {
    bottom: 50px;
}

#parte-arriba {
    bottom: 150px;
}

#left-leg {
    bottom: 100px;
    left: 15%; /* Ajusta según sea necesario */
}

#right-leg {
    bottom: 100px;
    right: 15%; /* Ajusta según sea necesario */
}

#left-arm {
    bottom: 200px;
    left: 15%;
}

#right-arm {
    bottom: 200px;
    right: 15%;
}

#body {
    bottom: 250px;
}

#head {
    bottom: 300px;
}

#hangman-container img {
    display: block;
    margin: 0 auto;
    width: 450px;
}

/* Input de letra */
input[type="text"] {
    font-family: bloody;
    color: aliceblue;
    background-image: url(bloody_button.png);
    width: 200px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 10px 3px;
    text-align: center;
    outline: none;
    padding: 5px;
    border-radius: 10px;
    
}
input:hover{
    cursor: url('cursor.png'), auto;
}


button {
    font-family: bloody;
    color: aliceblue;
    background-image: url(bloody_button.png);
    width: 150px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    margin: 10px 3px;
    border-radius: 10px;
    animation: blink 2s infinite;
}
body:hover{
    cursor: url('rata2.png'), auto;
}
button:hover {
    opacity: 0.8;
    transform: scale(1.05);
    cursor: url('cursor.png'), auto;

    
}
@keyframes blink { 
0%, 50%, 100% { opacity: 1; } 
25%, 75% { opacity: 0.3; } 
} 


#word-display, #message {
    font-size: 20px;
    margin-top: 20px;
}
